body,
html {
  height: 100%;
  background-color: #f4f8f9;
  font-family: Open Sans, sans-serif;
}
/* LAYOUT  */
#root {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.page__header {
  grid-area: header;
  padding: 1.5rem;
  outline: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.35);
  background-color: #02b3e4;
  letter-spacing: 0.125rem;
  border: 0.125rem solid transparent;
  border-right: 0.125rem solid #02ccba;
  border-left: 0.125rem solid #02b3e4;
  background-image: linear-gradient(to right, #02b3e4 0%, #02ccba 100%);
}

.page__main {
  grid-area: main;
  padding: 0 0.5rem;
}

.page__footer {
  grid-area: footer;
  padding: 1rem;
  background: #bc20e2;
  color: #fdfdfd;
}
/* LAYOUT END */

.posts__categories {

}

.categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}


.categories-item {
  border-radius: 0.25rem;
}


.categories-item:hover {
  background-color: #d9e4e7;
}

.categories-item--active {
  background-color: #02b3e4;
  color: #fff;
}

.categories-item--active .categories-item__link {
  color: #fff;
  font-weight: 600;
}

.categories-item__link {
  color: #525c65;
}

.categories-item__link {
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none;
  vertical-align: middle;
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 0.7125rem;
  line-height: 1.925rem;
  letter-spacing: 0.125rem;
  transition: all 0.3s ease;
}

/* POST CARDS  */
.posts-card {
  padding: 0.9rem 0.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 5px 5px 15px 0px rgba(46, 61, 73, 0.4);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
  display: flex;
}

.posts-card__info-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.posts-card__title {
  flex: 0 1;
}

.posts-card__link {
  color: #02b3e4;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.posts-card__link:hover {
  text-decoration: underline;
}

.posts-card__author {
  color: #7d97ad;
  font-size: 0.7rem;
  padding: 0.3rem 0;
  flex: 0 1;
}

.posts-card__short-description {
  color: #525c65;
  padding: 0.7rem 0;
  font-size: 0.9rem;
}

.posts-card__comments-count {
  display: flex;
  align-self: flex-end;
  color: #7d97ad;
  font-size: 0.8rem;
  font-weight: bold;
  flex: 1;
  align-items: flex-end;
}

/* POST CARDS END */

/* VOTE SCORE  */

.vote-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.7rem 0 0.2rem;
}

/* VOTE SCORE END */



@media screen and (min-width: 48rem) {
  #root {
    grid-gap: 1rem;
    grid-template-areas:
      'header header header'
      ' . main .'
      'footer footer footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}